<?xml version="1.0" encoding="utf-8"?>
<pages>
    <page pageid="1" caption="Main" definitions="summarywidth=110;summaryopacity=6;summarybackgroundcolor=#AC190D">
        <excelcontent id="1">
            <items>
                <item caption="" inputtype="output" contenttype="string" address="Tabelle1!A1" id="yjFBtEsp">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#cdcdcd;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="Land" inputtype="input" contenttype="toggle" address="Tabelle1!B3" id="uX6Eyo2T">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="Name" inputtype="input" contenttype="string" address="Tabelle1!B4" id="Yfp09TAB">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="Vorname" inputtype="input" contenttype="string" address="Tabelle1!B5" id="s5YFOWm7">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="" inputtype="input" contenttype="string" address="Tabelle1!A6" id="kiaED3Iu">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#cdcdcd;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;captionfontsize=26;buttonheight=10%;valuefontsize=26</itemdefinitions>
                </item>
                <item id="QOvoZJsN" caption="QOvoZJsN" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions></itemdefinitions>
                </item>
                <item caption="Tag" inputtype="input" contenttype="toggle" address="Tabelle1!B7" id="6gRYGhgp">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=QOvoZJsN;valuefontstyle=regular;showeditbuttons=false;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="Monat" inputtype="input" contenttype="toggle" address="Tabelle1!B8" id="ecBuuIwk">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=QOvoZJsN;showeditbuttons=false;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="Geburtsort" inputtype="input" contenttype="string" address="Tabelle1!B10" id="zwj7S8XB">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="" inputtype="input" contenttype="string" address="Tabelle1!A11" id="MtgLC74y">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#cdcdcd;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;buttonheight=10%</itemdefinitions>
                </item>
                <item id="FnI4q9vW" caption="FnI4q9vW" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions></itemdefinitions>
                </item>
                <item caption="Tag" inputtype="input" contenttype="toggle" address="Tabelle1!B12" id="NQvWW2wM">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=FnI4q9vW;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Monat" inputtype="input" contenttype="toggle" address="Tabelle1!B13" id="IspHKBbG">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=FnI4q9vW;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="" inputtype="input" contenttype="string" address="Tabelle1!A15" id="Pzfh9GDt">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#cdcdcd;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;buttonheight=10%</itemdefinitions>
                </item>
                <item id="oVpo7WtU" caption="oVpo7WtU" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions></itemdefinitions>
                </item>
                <item caption="Tag" inputtype="input" contenttype="toggle" address="Tabelle1!B16" id="MOGTWTpr">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=oVpo7WtU;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Monat" inputtype="input" contenttype="toggle" address="Tabelle1!B17" id="dxWz0hox">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=oVpo7WtU;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Ausstellungsbehörde" inputtype="input" contenttype="string" address="Tabelle1!B19" id="CjSwHx9S">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="Führerscheinnummer" inputtype="input" contenttype="string" address="Tabelle1!B20" id="jK4fmMt1">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="Fahrererlaubnisklasse" inputtype="input" contenttype="string" address="Tabelle1!B21" id="FxwY9jc5">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="" inputtype="input" contenttype="string" address="Tabelle1!A22" id="2VimXkdA">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#cdcdcd;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;buttonheight=10%;valuefontsize=26</itemdefinitions>
                </item>
                <item id="CpknsG9K" caption="CpknsG9K" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions></itemdefinitions>
                </item>
                <item caption="Tag" inputtype="input" contenttype="toggle" address="Tabelle1!B23" id="6dOhdMfX">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=CpknsG9K;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Monat" inputtype="input" contenttype="toggle" address="Tabelle1!B24" id="IBSf7TJ0">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=CpknsG9K;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="" inputtype="input" contenttype="string" address="Tabelle1!A26" id="YQXKVyoh">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#cdcdcd;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;buttonheight=10%;valuefontsize=26</itemdefinitions>
                </item>
                <item id="ktYhNcQW" caption="ktYhNcQW" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions></itemdefinitions>
                </item>
                <item caption="Tag" inputtype="input" contenttype="toggle" address="Tabelle1!B27" id="Yxs13G1I">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=ktYhNcQW;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Monat" inputtype="input" contenttype="toggle" address="Tabelle1!B28" id="P8WfzmjX">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=ktYhNcQW;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Beschränkungen/Zusatzangaben" inputtype="input" contenttype="string" address="Tabelle1!B30" id="3vX6S6Mc">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item caption="Jahr" inputtype="input" contenttype="toggle" address="Tabelle1!B29" id="TwyY8M49">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=ktYhNcQW;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Jahr" inputtype="input" contenttype="toggle" address="Tabelle1!B25" id="JvySgXXN">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=CpknsG9K;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Jahr" inputtype="input" contenttype="toggle" address="Tabelle1!B18" id="6ddweiOi">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=oVpo7WtU;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Jahr" inputtype="input" contenttype="toggle" address="Tabelle1!B14" id="vwVqTu4t">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=FnI4q9vW;valuefontstyle=regular;valuefontsize=26;showeditbuttons=false</itemdefinitions>
                </item>
                <item caption="Jahr" inputtype="input" contenttype="toggle" address="Tabelle1!B9" id="2Y1eWvhO">
                    <itemdefinitions>usecellformat=true;backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;groupname=QOvoZJsN;showeditbuttons=false;valuefontstyle=regular;valuefontsize=26</itemdefinitions>
                </item>
                <item id="aPaNPWX5" inputtype="input" caption="Image Upload" contenttype="imageupload" address="Tabelle1!A100">
                    <itemdefinitions>backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;valuefontstyle=regular;metrictextcolor=#b42e6b;buttoncolor=#b42e6b</itemdefinitions>
                </item>
                <item id="7B0Y7EiD" inputtype="input" caption="Image Upload" contenttype="imageupload" address="Tabelle1!A101">
                    <itemdefinitions>backgroundcolor=#ffffff;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;buttoncolor=#b42e6b</itemdefinitions>
                </item>
                <item id="kaQn6uxu" caption="kaQn6uxu" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions></itemdefinitions>
                </item>
                <item id="CrJhZwMV" caption="Überblick" inputtype="actionbutton" address="">
                    <itemdefinitions>runapp=16570a29-ffdc-4919-8db3-e4861d2f44d0;backgroundcolor=#cdcdcd;captiontextcolor=#b42e6b;elementcolor=#b42e6b;valuetextcolor=#b42e6b;textcolor=#b42e6b;groupname=kaQn6uxu;textfontsize=26;buttonheight=6%</itemdefinitions>
                </item>
                <item id="0afXlfxM" caption="spacer" inputtype="" contenttype="spacer">
                    <itemdefinitions>height=25%;backgroundcolor=#00000000;groupname=kaQn6uxu</itemdefinitions>
                </item>
            </items>
        </excelcontent>
    </page>
</pages>