<?xml version="1.0" encoding="utf-8"?>
<pages
    xmlns="urn:WunderApp">
    <page pageid="1" caption="Capitalism">
        <excelcontent id="2">
            <items>
                <item caption="" inputtype="" contenttype="cardlist" address="&apos;1&apos;!A1" id="0BCcTa2I">
                    <itemdefinitions>componentname=0BCcTa2I;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;padding=0;gridrowheight=40;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2::web;detailcolumns=1:text,2:web;categorycolumn=2;categorycolorpalette=#6b133e</itemdefinitions>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="2" caption="Work">
        <excelcontent id="2">
            <items>
                <item caption="" inputtype="" contenttype="cardlist" address="&apos;2&apos;!A1" id="v8BvRSRe">
                    <itemdefinitions>componentname=v8BvRSRe;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;padding=0;gridrowheight=40;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2::web;detailcolumns=1:text,2:web;categorycolumn=2;categorycolorpalette=#6b133e</itemdefinitions>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="3" caption="Relationships" definitions="sheetname=Chapter 3 - Relationships;summarywidth=110;summaryopacity=6;summarybackgroundcolor=AC190D;">
        <excelcontent id="1">
            <items>
                <item caption="" inputtype="" contenttype="cardlist" address="&apos;3&apos;!A1" id="3OfWBWpG">
                    <itemdefinitions>componentname=3OfWBWpG;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;padding=0;gridrowheight=40;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2::web;detailcolumns=1:text,2:web;categorycolumn=2;categorycolorpalette=#6b133e</itemdefinitions>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="4" caption="Self" definitions="sheetname=Chapter 4 - Self;summarywidth=110;summaryopacity=6;summarybackgroundcolor=AC190D;">
        <excelcontent id="1">
            <items>
                <item caption="" inputtype="" contenttype="cardlist" address="&apos;4&apos;!A1" id="76G9ueIc">
                    <itemdefinitions>componentname=76G9ueIc;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;padding=0;gridrowheight=40;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2::web;detailcolumns=1:text,2:web;categorycolumn=2;categorycolorpalette=#6b133e</itemdefinitions>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="5" caption="Culture">
        <excelcontent id="2">
            <items>
                <item caption="" inputtype="" contenttype="cardlist" address="&apos;5&apos;!A1" id="iTSVCrV6">
                    <itemdefinitions>componentname=iTSVCrV6;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;padding=0;gridrowheight=40;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2::web;detailcolumns=1:text,2:web;categorycolorpalette=#6b133e;categorycolumn=2</itemdefinitions>
                </item>
            </items>
        </excelcontent>
    </page>
</pages>