<?xml version="1.0" encoding="utf-8"?>
<pages
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:WunderApp">
    <page pageid="Sl" caption="Main" definitions="topareaimage=https://upload.wikimedia.org/wikipedia/commons/6/63/Acp_logo_rgb.jpg;backgroundcolor=#EBECED">
        <excelcontent id="1">
            <items>
                <item id="oWXzgnfx" caption="Image" inputtype="output" contenttype="image" address="">
                    <itemdefinitions>imageclickevent=false;imagefile=https://api.openasapp.net/v1/api/EntityImageStorage/AppStorage/0ccc112a-7f32-46e7-82fd-92c48816aea0/public/field-oWXzgnfx.png?v=QT2xblK0;buttonheight=1*</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="PwM5AGC9" caption="PwM5AGC9" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions>buttonheight=1*;columnspacing=5</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="n0T8mboS" caption="Hybrid DataCenter" inputtype="actionbutton" address="Hybrid DataCenter!A15">
                    <itemdefinitions>captiontextcolor=white;valuetextcolor=white;backgroundcolor=#f00f40;linkinfo=page:2;groupname=PwM5AGC9;textfontsize=15</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="jS6Z5Y9M" caption="Communication &amp;  Collaboration" inputtype="actionbutton" address="Hybrid DataCenter!A15">
                    <itemdefinitions>captiontextcolor=white;valuetextcolor=white;backgroundcolor=#f00f40;linkinfo=page:3;groupname=PwM5AGC9;textfontsize=15</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="AmADlHg4" caption="AmADlHg4" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions>buttonheight=1*;columnspacing=5</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="2cvzI6kN" caption="Network" inputtype="actionbutton" address="Hybrid DataCenter!A15">
                    <itemdefinitions>captiontextcolor=white;valuetextcolor=white;backgroundcolor=#f00f40;linkinfo=page:4;groupname=AmADlHg4;textfontsize=15</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="nAEurBgT" caption="Security" inputtype="actionbutton" address="Hybrid DataCenter!A15">
                    <itemdefinitions>captiontextcolor=white;valuetextcolor=white;backgroundcolor=#f00f40;linkinfo=page:5;groupname=AmADlHg4;textfontsize=15</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="Lja0Fsai" caption="Lja0Fsai" inputtype="output" contenttype="grouplayout">
                    <itemdefinitions>buttonheight=1*;columnspacing=5</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="1SVhtvAQ" caption="Modern Workplace" inputtype="actionbutton" address="Hybrid DataCenter!A15">
                    <itemdefinitions>captiontextcolor=white;valuetextcolor=white;backgroundcolor=#f00f40;linkinfo=page:6;groupname=Lja0Fsai;textfontsize=15</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="L2Qf22Qv" caption="Business Applications" inputtype="actionbutton" address="Hybrid DataCenter!A15">
                    <itemdefinitions>captiontextcolor=white;valuetextcolor=white;backgroundcolor=#f00f40;linkinfo=page:7;groupname=Lja0Fsai;textfontsize=15</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
                <item id="OHl6u44A" contenttype="spacer">
                    <itemdefinitions>height=50</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="2" caption="Hybrid DataCenter" definitions="actionbuttontype=home">
        <excelcontent>
            <items>
                <item id="CmLaw3sF" caption="" inputtype="" contenttype="cardlist" address="&apos;Hybrid DataCenter&apos;!A1">
                    <itemdefinitions>componentname=CmLaw3sF;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;gridrowheight=46;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=false;listcolumns=1::text,2:0:image,4::;detailcolumns=1:text::,2:image::,4:::,5:::,6:::,3:web::;showsearchpanel=false;horizontalscrolling=false;imagefillmode=aspectfill;categorycolumn=1;categorycolorpalette=#f00f40</itemdefinitions>
                    <listcolumns>
                        <listcolumn index="1" type="text"></listcolumn>
                        <listcolumn index="2" type="image" width="0"></listcolumn>
                        <listcolumn index="4"></listcolumn>
                    </listcolumns>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="3" caption="Communication &amp;  Collaboration" definitions="actionbuttontype=home">
        <excelcontent>
            <items>
                <item id="9CYd2rNN" caption="" inputtype="" contenttype="cardlist" address="&apos;Communication &amp; Collaboration&apos;!A1">
                    <itemdefinitions>componentname=9CYd2rNN;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;gridrowheight=46;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2:60:image,4::;detailcolumns=1:text::,2:image::,4:::,5:::,3:web::;showsearchpanel=false;categorycolumn=1;imagefillmode=aspectfill;categorycolorpalette=#f00f40</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="4" caption="Network" definitions="actionbuttontype=home">
        <excelcontent>
            <items>
                <item id="hymkx8NT" caption="" inputtype="" contenttype="cardlist" address="Network!A1">
                    <itemdefinitions>componentname=hymkx8NT;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;gridrowheight=46;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2:60:image,4::;detailcolumns=1:text::,2:image::,4:::,5:::,3:web::;showsearchpanel=false;categorycolumn=1;imagefillmode=aspectfill;categorycolorpalette=#f00f40</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="5" caption="Security" definitions="actionbuttontype=home">
        <excelcontent>
            <items>
                <item id="gImUi0kA" caption="" inputtype="" contenttype="cardlist" address="Security!A1">
                    <itemdefinitions>componentname=gImUi0kA;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;gridrowheight=46;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2:60:image,4::;detailcolumns=1:text::,2:image::,4:::,5:::,6:::,3:web::;showsearchpanel=false;categorycolumn=1;categorycolorpalette=#f00f40;imagefillmode=aspectfill</itemdefinitions>
                    <listcolumns>
                        <listcolumn index="1" type="text"></listcolumn>
                        <listcolumn index="2" type="image" width="60"></listcolumn>
                        <listcolumn index="4"></listcolumn>
                    </listcolumns>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="6" caption="Modern Workplace" definitions="actionbuttontype=home">
        <excelcontent>
            <items>
                <item id="7lr9XwkH" caption="" inputtype="" contenttype="cardlist" address="&apos;Modern Workplace&apos;!A1">
                    <itemdefinitions>componentname=7lr9XwkH;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;gridrowheight=46;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2:60:image,4::;detailcolumns=1:text::,2:image::,4:::,5:::,6:::,3:web::;showsearchpanel=false;categorycolumn=1;categorycolorpalette=#f00f40;imagefillmode=aspectfill</itemdefinitions>
                    <listcolumns></listcolumns>
                </item>
            </items>
        </excelcontent>
    </page>
    <page pageid="7" caption="Business Applications" definitions="actionbuttontype=home">
        <excelcontent>
            <items>
                <item id="ROmzFP24" caption="" inputtype="" contenttype="cardlist" address="&apos;Business Applications&apos;!A1">
                    <itemdefinitions>componentname=ROmzFP24;gridtheme=light;gridalternaterowbackgroundcolor=#f5f5f5;gridrowheight=46;gridcollapsegroups=false;gridallowedit=false;height=400;headeravailable=true;showcolumnheader=true;listcolumns=1::text,2:60:image,4::;detailcolumns=1:text::,2:image::,4:::,5:::,6:::,3:web::;showsearchpanel=false;categorycolumn=1;categorycolorpalette=#f00f40;imagefillmode=aspectfill</itemdefinitions>
                    <listcolumns>
                        <listcolumn index="1" type="text"></listcolumn>
                        <listcolumn index="2" type="image" width="60"></listcolumn>
                        <listcolumn index="4"></listcolumn>
                    </listcolumns>
                </item>
            </items>
        </excelcontent>
    </page>
</pages>